body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 2000px;
}

#nav-scroller{
  transition: all 0.5s;
  height: 100px;
}

#nav-links a{
  transition: all 0.5s;
  font-size: 1.3em;
  margin-top: 10px;
}

#nav-scroller a{
  font-size: 2.4em;
  transition: all 0.5s;
  margin-top: 20px;
}

#head-images{
  height: 700px;
  background: #2EECDC;
  padding-top: 100px;
}

/*Ivan's CSS from before*/

/*.logo{
  width: 100px;
  height: 50px;
  position: relative;
  left: 100px;
  display: inline-block;
 
}

.col-vertical {
  display: inline-block;
  position: relative;
  left: 200px;
  vertical-align: middle;
}

.col-vertical a {
  margin-left: 20px;
}
.loginBtn {
  display: inline-block;
  position: relative;
  left: 600px;
  vertical-align: middle;
}

.menuSelect {
  display: inline-block;
  position: relative;
  left: 620px;
  vertical-align: middle;
}

.fourSquare {
  width: 19px;
  height: 19px;
}*/